body{
    background-color: rgb(243, 190, 199);
    
    
    }
    h1{
        text-align: center;
        font-size: 40px;
        color:rgb(102, 139, 102);
    }
    
    h2 {
        text-align: left;
        font-size: 27px;
        color:rgb(82, 87, 82);
        
    }
    p {
        font-size: 18px;
        color:rgb(82, 87, 82);
    }
    
    img{
        width: 500px;
        height: auto;
        
    
    }
    

    a {
        text-decoration: none;
        display: block;
        
    }
    
    .flexbox-container  
    {
        display: flex;
        border-style: solid;
        border-color:rgb(82, 87, 82);
        
    
    }
    .flexbox-item{
        width: 500px;
        height: 500px;
        
    
    }
    
.first-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}
.first-column{
    flex: 1;
    display: flex;
    

}

.second-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    
}

.one {
        flex: 2;
        flex-shrink: 2;
        flex-grow: 0;
       margin: auto;
       align-self: stretch;
    }
    
    .two {
        flex: 1;
        flex-shrink: 0;
        flex-grow: 0; 
        margin: auto;
    }
    
    .three {
        flex: 1;
        flex-shrink: 0;
        flex-grow: 0;
        margin: auto;
        
    }
    
    .second-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: flex-start;
    
    }
    .four{
        
        flex-shrink: 1;
        flex-grow: 1;
        flex-basis: auto;
        order: 2;
    
    }
    .five {
        flex: 1;
        flex-grow: 1;
        flex-shrink: 3;
        margin: auto;
        order: 3;
    }
    
    .six {
        
        flex-shrink: 1;
        flex-grow: 3;
        order: 1;
        align-self: stretch;
    }
    
    .third-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        
    
    
    }
    .seven {
        
        flex-shrink: 1;
        flex-grow: 1;
        align-self: stretch;
    
    }
    .eight {
        
        flex-grow: 2;
        flex-shrink: 1;
    }
    .nine {
        
        flex-shrink: 0;
        flex-grow: 1;
    
    }