body{
    background-color: rgb(243, 190, 199);
    
    
    }
    h1{
        text-align: center;
        font-size: 40px;
        color:rgb(102, 139, 102);
    }
    
    h2 {
        text-align: left;
        font-size: 27px;
        color:rgb(82, 87, 82);
        
    }
    p {
        font-size: 18px;
        color:rgb(82, 87, 82);
    }
    
    img{
        width: 400px;
        height: 450px;
        
    
    }
    
    a {
        text-decoration: none;
        display: block;
        
    }
    
    .flexbox-container  {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        
    
    }
    .flexbox-item{
        width: 500px;
        height: 500px;
        border: 10px;
    
    }
    
    .one {
        flex-shrink: 2;
        flex-grow: 0;
       
    }
    
    .two {
        flex-grow: 2;
        flex-shrink: 1;
        
    }
    
    .three {
        flex-shrink: 1;
        flex-grow: 0;
        
    }
    
    .second-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        align-content: flex-start;
    
    }
    .four{
        flex-shrink: 0;
        flex-grow: 1;
    
    }
    .five {
        flex-grow: 2;
        flex-shrink: 1;
    }
    
    .six {
        flex-shrink: 1;
        flex-grow: 0;
    }
    
    .third-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    
    
    }
    .seven {
        flex-shrink: 1;
        flex-grow: 1;
    
    }
    .eight {
        flex-grow: 2;
        flex-shrink: 1;
    }
    .nine {
        flex-shrink: 0;
        flex-grow: 1;
    
    }